
    <div class="jumbotron">
        <h1><%= title %></h1>
        <p>Total number of employees in database is <%= employees.length %></p>
        <p>Total number of employees in engineering is <%= employeeEngineeringCategory.length %> </p>
        <p>Total number of activated employees: <%= employeeStatus.length %></p>
        <p>Total categories in database is <%= employeeCategory.length %></p>
    </div>