
<h4>Category - <%= category.name %></h4>
<% posts.forEach(post => { %>
        <article class="media content-section">
          <img class="rounded-circle article-img" src="#">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#"><%=  %></a>
              <small class="text-muted"><%= post.createdAt %></small>
            </div>
            <h2><a class="article-title" href="/blog/post/<%= post.id %>"><%= post.Post.post_title %></a></h2>
            <p class="article-content"><%= post.Post.post_body %></p>
          </div>
        </article>
  <% }) %>