<% let baseUrl = "https://brightadekunleblog.herokuapp.com/" %>
<% posts.forEach(post => { %>
  <% console.log(post) %>
        <article class="media content-section">
          <% let image =  baseUrl + post.Author.profilePicture %>
          <img class="rounded-circle account-img" src="<%= image %>" style="object-fit: cover;">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="/blog/author/<%= post.Author.id %>"><%= post.Author.username %></a>
              <small class="text-muted"><%= post.createdAt %></small>
            </div>
            <h2><a class="article-title" href="/blog/post/<%= post.id %>"><%= post.post_title %></a></h2>
            <p class="article-content"><%= post.post_body %></p>
          </div>
        </article>
  <% }) %>
